.container3 {
  background: #572364;
  color: white;
  padding: 20px;
  display: inline;
  align-items: center;
  flex: 1;
  width: 77%;
  float: left;
}

.taskDetail {
  margin-left: 2%;
}

p {
  font-size: 1rem;
}
